* {box-sizing: border-box;}
.wrap {
  background: url(http://www.planwallpaper.com/static/images/recycled_texture_background_by_sandeep_m-d6aeau9_PZ9chud.jpg) no-repeat 50%/cover;
  border: 1px solid #000;
  display: inline-block;
  font-size: 0;
  text-align: justify;
  width: 100%;
}
.left {float:left;}
.right {float: right;}
.wrap ul {
  list-style-type: none;
  margin: 0 15px;
  padding: 0;
  width: 150px;
  }
.wrap li {
  background-color: #0f0;
  display: inline-block;      
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
}
.left li {background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5oul2V42mD2EaVFIXC_qLyErZQDa9gRB-FEs3B3ujREOsU-f4') round 0 0;}
.right li {background: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSwoqArt1d-d0lykKdFFtnhsHNaJ2hZ5FCwfZdC4AM-fBzo1Ojd') space 0 0 #f00;}
  
p {
  color: rgba(255,255,255, 0.65);
  font-size: 16px;
  margin: 0;
  padding: 0 25px;
  line-height:1.5;
}


